@{
    var AboutUrl = Url.Action("About", "Home");
    var ContactUrl = Url.Action("Contact", "Home");

    var IndianTendersUrl = Url.Action("IndianTenders", "InquiryForms");
    var GlobalTendersUrl = Url.Action("GlobalTenders", "InquiryForms");
    var TenderResultUrl = Url.Action("TenderResult", "InquiryForms");
    var TenderAssistUrl = Url.Action("TenderAssist", "InquiryForms");

    var VendorEmpanelmentUrl = Url.Action("VendorEmpanelment", "InquiryForms");
    var SubcontractingUrl = Url.Action("Subcontracting", "InquiryForms");
    var DigitalSignatureUrl = Url.Action("DigitalSignature", "InquiryForms");
}

<footer>

    <div class="sub-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-title">TenderAssist247</div>
                            <span>
                                <b>TenderAssist247.com </b>is India’s No 1 Tender Portal which Provides Tender Alerts and Tender Assistance.
                                We have just the right amount of expertise to help you put in your Bid and get you to the next level till bid submission successfully submitted.
                                We have the necessary knowledge and experience to give you customized bidding solutions for your needs 24*7.
                            </span>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-title">Company</div>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="@AboutUrl">
                                        <span class="text-danger">»</span>
                                        About us
                                    </a>
                                </li>
                                <li>
                                    <a href="@ContactUrl">
                                        <span class="text-danger">»</span>
                                        Contact us
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-title">Services</div>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="@IndianTendersUrl">
                                        <span class="text-danger">»</span>
                                        Indian Tender
                                    </a>
                                </li>
                                <li>
                                    <a href="@GlobalTendersUrl">
                                        <span class="text-danger">»</span>
                                        Global Tender
                                    </a>
                                </li>
                                <li>
                                    <a href="@TenderResultUrl">
                                        <span class="text-danger">»</span>
                                        Tender Result
                                    </a>
                                </li>
                                <li>
                                    <a href="@TenderAssistUrl">
                                        <span class="text-danger">»</span>
                                        Tender Assist
                                    </a>
                                </li>
                                <li>
                                    <a href="@VendorEmpanelmentUrl">
                                        <span class="text-danger">»</span>
                                        Vendor Empanelment
                                    </a>
                                </li>
                                <li>
                                    <a href="@SubcontractingUrl">
                                        <span class="text-danger">»</span>
                                        Subcontracting
                                    </a>
                                </li>
                                <li>
                                    <a href="@DigitalSignatureUrl">
                                        <span class="text-danger">»</span>
                                        Digital Signature
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <div class="footer-title">24X7 Customer Support</div>
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>Sales: +91-97247 00247</span>
                                </li>
                                <li>
                                    <i class="fa fa-headphones"></i>
                                    <span>Support: +91-96870 00247</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope fa-2x"></i>
                                    Sales  : sales@tenderassist247.com
                                    <br />
                                    <i class="fa fa-envelope fa-2x"></i>
                                    Support : support@tenderassist247.com


                                <li>
                            </ul>
                            <div class="social-icon">
                                <ul class="social-network">
                                    <li><a href="https://www.facebook.com/TenderAssist247-100189498429830" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/TAssist247" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/tenderassist247" class="icon-linkedin-alt" title="Linked in"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="https://www.instagram.com/tenderassist247" class="insta tool-tip" title="Insta Gram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> 