@model TenderAssist.ViewModel.TenderDetail
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "TenderAssist247 :: Change Password";
}
<script type="text/javascript">

    $(document).ready(function () {

        $('.form-control').keydown(function (e) {
            if (e.keyCode == 13) {
                ChangePassword();
            }
        });
        $('#btnChangePswd').click(function () {
            ChangePassword();
        });
    });


    function ChangePassword() {
        $("#errorMsg").html('');
        var isValid = true;
        $('#divError').hide();

        if ($("#CurrentPassword").val().trim() == '') {
            isValid = false;
            $("#spnCurrentPswd").html('<i class="fa fa-times-circle-o"></i> Required.');
            $("#divCPassword").addClass("has-error");
        } else if ($("#CurrentPassword").val().trim().length < 6) {
            isValid = false;
            $("#spnCurrentPswd").html('<i class="fa fa-times-circle-o"></i> It should be minimum 6 character long');
            $("#divCPassword").addClass("has-error");
        } else {
            $("#spnCurrentPswd").html('');
            $("#divCPassword").removeClass("has-error");
        }

        if ($("#NewPassword").val().trim() == '') {
            isValid = false;
            $("#spnNewPswd").html('<i class="fa fa-times-circle-o"></i> Required.');
            $("#divNPassword").addClass("has-error");
        } else if ($("#NewPassword").val().trim().length < 6) {
            isValid = false;
            $("#spnNewPswd").html('<i class="fa fa-times-circle-o"></i> It should be minimum 6 character long');
            $("#divNPassword").addClass("has-error");
        } else {
            $("#spnNewPswd").html('');
            $("#divNPassword").removeClass("has-error");
        }

        if ($("#ConfirmPassword").val().trim() == '') {
            isValid = false;
            $("#spnConfirmPswd").html('<i class="fa fa-times-circle-o"></i> Required.');
            $("#divCNFPassword").addClass("has-error");
        } else if ($("#ConfirmPassword").val().trim().length < 6) {
            isValid = false;
            $("#spnConfirmPswd").html('<i class="fa fa-times-circle-o"></i> It should be minimum 6 character long');
            $("#divCNFPassword").addClass("has-error");
        } else {
            $("#spnConfirmPswd").html('');
            $("#divCNFPassword").removeClass("has-error");
        }

        if ($("#NewPassword").val().trim() != '' && $("#ConfirmPassword").val().trim() != '') {
            if (!($("#NewPassword").val().trim() == $("#ConfirmPassword").val().trim())) {
                isValid = false;
                $("#spnConfirmPswd").html('<i class="fa fa-times-circle-o"></i> New Password & Confirm password must be same.');
                $("#divCNFPassword").addClass("has-error");
            } else {
                $("#spnConfirmPswd").html('');
                $("#divCNFPassword").removeClass("has-error");
            }
        }

        if (!isValid) {
            return false;
        }

        ShowLoading();
        $('#btnChangePswd').hide();


        var myform = $('#changeUserPassword');
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: myform.attr('action'),
            data: myform.serialize(),
            success: function (data) {


                var msg = data.msg;
                if (msg == "error") {
                    if (data.errormsg != "") {
                        $('#divError').show();
                        $("#divError").removeClass("has-success").addClass("has-error");
                        $('#errorMsg').html('<i class="fa fa-times-circle-o"></i><span class="text-danger">' + data.errormsg + '</span>');
                    }
                } else if (msg == "ok") {
                    $('#divError').show();
                    $("#divError").removeClass("has-error").addClass("has-success");
                    $('#errorMsg').html('<i class="fa fa-check"></i><span class="text-success">' + data.errormsg + '</span>');
                }
                $('#btnChangePswd').show();
                HideLoading();
            }
        });
        return true;
    }
</script>

<div class="container_fullMiddle">

    <div class="row">
        <div class="col-md-12 ">

            <div class="well wellWhiteBg well-sm">
                <div class="breadcrumbgrid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <div class="CurrentDiv">
                                    <a href="@Url.Action("MyDashboard", "User")" itemprop="url" style="text-decoration: none;">
                                        <span itemprop="title">Dashboard</span>
                                    </a>
                                </div>
                                <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <div class="CurrentDiv">
                                        <span class="seperator">»</span>
                                    </div>
                                    <div class="CurrentDiv">
                                        <span itemprop="title" class="text-bold">Change Password</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="pagetitle">
                            Change Password
                            <small>Update Credential Information</small>
                        </h1>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Partial("partialUserSideMenu", Model)
                            </div>
                            <div class="col-md-9">
                                <div class="box box-success">
                                    <div class="box-body">
                                        <div class="row">
                                            <form id="changeUserPassword" method="post" action="@Url.Action("PostChangePassword", "User")">
                                                <div class="col-md-6">
                                                    <div class="form-group has-error" id="divError" style="display: none;">
                                                        <label id="errorMsg"></label>
                                                    </div>
                                                    <div class="box box-success box-solid">
                                                        <div class="box-body">
                                                            <div class="form-group" id="divCPassword">
                                                                <label>Current Password</label><label id="spnCurrentPswd" class="text-danger data-float-right-only"></label>
                                                                @Html.Password("CurrentPassword", "", new { @class = "form-control", @placeholder = "Enter Current Password" })
                                                            </div>
                                                            <div class="form-group" id="divNPassword">
                                                                <label>New Password</label><label id="spnNewPswd" class="text-danger data-float-right-only"></label>
                                                                @Html.Password("NewPassword", "", new { @class = "form-control", @placeholder = "Enter New Password" })
                                                            </div>
                                                            <div class="form-group" id="divCNFPassword">
                                                                <label>Confirm Password</label><label id="spnConfirmPswd" class="text-danger data-float-right-only"></label>
                                                                @Html.Password("ConfirmPassword", "", new { @class = "form-control", @placeholder = "Enter New Password" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button class="btn btn-success" id="btnChangePswd">
                                            <i class="fa fa-edit"></i>
                                            Change Password
                                        </button>
                                        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "User")'">
                                            <i class="fa fa-reply"></i>
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

