@model TenderAssist.ViewModel.TenderDetail
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "TenderAssist247 :: My Feedback";
}
<style>
    textarea {
        resize: none;
    }
</style>
<script type="text/javascript">
    function IsValidEmailID(email) {
        var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return filter.test(email);
    }

    $(document).ready(function () {

        $("#btnSubmitFeedback").click(function () {
            submitData();
        });

        $('.form-control').keydown(function (e) {
            if (e.keyCode == 13) {
                submitData();
            }
        });
    });

    function submitData() {
        $("#errorMsg").html('');
        var isValid = true;
        $('#divError').hide();

        var myform = $('#submitFeedbackData');

        if ($("#Name").val().trim() == '') {
            isValid = false;
            $("#spnName").html('<i class="fa fa-times-circle-o"></i> Name is required.');
            $("#divName").addClass("has-error");
        } else {
            $("#spnName").html('');
            $("#divName").removeClass("has-error");
        }

        if ($("#Email").val().trim() == '') {
            isValid = false;
            $("#spnEmail").html('<i class="fa fa-times-circle-o"></i> Email is required.');
            $("#divEmail").addClass("has-error");
        } else {
            if (!IsValidEmailID($("#Email").val())) {
                isValid = false;
                $("#spnEmail").html('<i class="fa fa-times-circle-o"></i> Email provided is invalid.');
                $("#divEmail").addClass("has-error");
            } else {
                $("#spnEmail").html('');
                $("#divEmail").removeClass("has-error");
            }
        }

        if ($("#Subject").val().trim() == '') {
            isValid = false;
            $("#spnSubject").html('<i class="fa fa-times-circle-o"></i> Subject is required.');
            $("#divSubject").addClass("has-error");
        } else {
            $("#spnSubject").html('');
            $("#divSubject").removeClass("has-error");
        }

        if ($("#Suggestion").val().trim() == '') {
            isValid = false;
            $("#spnSuggestion").html('<i class="fa fa-times-circle-o"></i> Suggestion/Message is required.');
            $("#divSuggestion").addClass("has-error");
        } else {
            $("#spnSuggestion").html('');
            $("#divSuggestion").removeClass("has-error");
        }
        if (!isValid) {
            return false;
        }

        ShowLoading();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: myform.attr('action'),
            data: myform.serialize(),
            success: function (data) {

                HideLoading();
                var msg = data.msg;
                if (msg == "error") {
                    $('#divError').show();
                    $("#divError").removeClass("has-success").addClass("has-error");
                    $('#errorMsg').html('<i class="fa fa-times-circle-o"></i> ' + data.errormsg);
                } else if (msg == "ok") {
                    $('#divError').show();
                    $("#divError").removeClass("has-error").addClass("has-success");
                    $('#errorMsg').html('<i class="fa fa-check"></i> ' + data.errormsg);
                }
            }
        });
        return true;
    }
</script>

<div class="container_fullMiddle">
    <div class="row">
        <div class="col-md-12 ">
        
        <div class="well wellWhiteBg well-sm">
            <div class="breadcrumbgrid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <div class="CurrentDiv">
                                <a href="@Url.Action("MyDashboard", "User")" itemprop="url" style="text-decoration: none;">
                                    <span itemprop="title">Dashboard</span>
                                </a>
                            </div>
                            <div itemprop="child" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <div class="CurrentDiv">
                                    <span class="seperator">»</span>
                                </div>
                                <div class="CurrentDiv">
                                    <span itemprop="title" class="text-bold">Feedback</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="pagetitle">
                        Feedback
                        <small>Share your thoughts</small>
                    </h1>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Partial("partialUserSideMenu", Model)
                        </div>
                        <div class="col-md-9">
                            <div class="box">
                                <div class="box-body">
                                    <div class="row">
                                        <form id="submitFeedbackData" method="post" action="@Url.Action("PostFeedback", "User")">
                                            @Html.Hidden("IsFeedback", 1)
                                            <div class="col-md-8">
                                                <div class="form-group has-error" id="divError" style="display: none;">
                                                    <label id="errorMsg" class="control-label"></label>
                                                </div>
                                                <div class="box box-success">
                                                    <div class="box-body">
                                                        @{
                                                            var email = "";
                                                            if (Model.LoginUserDetails != null)
                                                            {
                                                                email = Model.LoginUserDetails.strEmailId1;
                                                            }
                                                        }
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group" id="divName">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                                        @Html.TextBox("Name", "", new { @class = "form-control", @placeholder = "Enter Your Good Name" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label id="spnName" class="text-danger"></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group" id="divEmail">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                                        @Html.TextBox("Email", email, new { @class = "form-control", @placeholder = "Enter Email" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label id="spnEmail" class="text-danger"></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group" id="divSubject">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                                                                        @Html.TextBox("Subject", "", new { @class = "form-control", @placeholder = "Enter Subject" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label id="spnSubject" class="text-danger"></label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-code"></i></span>
                                                                        @Html.DropDownList("ContactArea", (SelectList)ViewData["ContactDept"], new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group" id="divSuggestion">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-comments-o"></i></span>
                                                                        @Html.TextArea("Suggestion", "", new { @class = "form-control", @placeholder = "Message" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label id="spnSuggestion" class="text-danger"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-success" id="btnSubmitFeedback">
                                        <i class="fa fa-envelope-o"></i>
                                        Send
                                    </button>
                                    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "User")'">
                                        <i class="fa fa-times"></i>
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
         
        </div>
    </div>
</div>


