@model TenderAssist.Models.DBConnection.tabClientPermission

@{
    var ClientPermissionItem = Model;

    var permissionName = ClientPermissionItem.strPermissionName;

    var keywordDivId = "Keyword_Div_" + ClientPermissionItem.intPermissionId;
    var cityDivId = "City_Div_" + ClientPermissionItem.intPermissionId;
    var stateDivId = "State_Div_" + ClientPermissionItem.intPermissionId;
    var agencyDivId = "Agency_Div_" + ClientPermissionItem.intPermissionId;
    var sectorDivId = "Sector_Div_" + ClientPermissionItem.intPermissionId;
    var ownershipDivId = "Ownership_Div_" + ClientPermissionItem.intPermissionId;
    var industryDivId = "Industry_Div_" + ClientPermissionItem.intPermissionId;
    var subindustryDivId = "SubIndustry_Div_" + ClientPermissionItem.intPermissionId;

}

<div class="box box-primary">
    <div class="box-header">
        <span class="box-title">
            <span class="fa fa-thumb-tack"></span>
            Permission :: @permissionName
        </span>
    </div>
    <div class="blueline"></div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div id="@keywordDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@agencyDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@sectorDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@ownershipDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@cityDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@stateDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@industryDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="@subindustryDivId">
                    @Html.Partial("partialSpinnerLoadingView")
                </div>
            </div>
        </div>
    </div>
    @if (Session["PageName"] != null)
    {
        if (Session["PageName"].ToString() == "IndianService")
        {
            <div class="box-footer">
                <span class="input-group-btn">
                    <a href="/User/Indian-Tender/@ClientPermissionItem.intPermissionId" target="_blank" class="btn btn-primary btn-flat pull-right">
                        <i class="fa fa-search-plus"></i>
                        View Tenders
                    </a>
                </span>
            </div>
        }
    }

</div>